<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ram.speed.booster">

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <service android:name=".services.LightService" />
    </application>

</manifest>
